.container {
    margin: 10px auto 80px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.container a {
    color: #CDC8C8;
    font-size: 1.75em;
    font-family: 'Press Start 2P';
    padding: 5px;
    margin: 3px;
}
.menuItem{
    display: flex;
}
.menuItem:hover > a {
    color: #F7D41C
}
.select{
    color: rgb(21,21,21);
    font-size: 2em;
    /* display: none; */
}
.menuItem:hover > .select{
    color: #CDC8C8;
    font-size: 2em;
    display: flex;
}



